<div style="width:600px; margin:0 auto;">
  <%= form_for :calculator, url: { action: :evalute }, method: :post do |f|   %>
      <%= text_field_tag :input, params[:input] %>
      <%= f.submit 'Submit' %>
  <% end %>

  <p>Ouput:  <%= @result %> </p>
</div>

